/* PRODUCT STYLE 
=========================================== */
/* index.html.twig */
a.figure-link {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}
a.figure-link:hover {
    text-decoration: underline;
    color: var(--bs-gray-dark);
}
span.figure-cart {
    float: right;
}

/* show.html.twig */
.col-sticky {
    top: 30px;
    position: sticky;
    display: block;
}
.text-description {
    text-align: justify;
}
.text-price {
    font-weight: bolder;
    font-size: 2.5em;
}